:root {
  align-items: center;
}
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='1440' preserveAspectRatio='none' viewBox='0 0 1440 1440'%3e%3cg mask='url(%26quot%3b%23SvgjsMask5967%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol5974' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol5974' x='0' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol5974' x='720' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol5974' x='720' y='720'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask5967'%3e%3crect width='1440' height='1440' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath5972'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath5970'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath5969'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath5968'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath5971'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath5973'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol5974'%3e%3cuse xlink:href='%23SvgjsPath5968' x='30' y='30' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='30' y='90' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5970' x='30' y='150' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='30' y='210' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='30' y='270' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='30' y='330' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='30' y='390' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='30' y='450' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='30' y='510' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5970' x='30' y='570' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='30' y='630' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='30' y='690' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='90' y='30' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='90' y='90' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5970' x='90' y='150' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='90' y='210' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='90' y='270' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='90' y='330' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='90' y='390' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='90' y='450' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='90' y='510' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5968' x='90' y='570' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='90' y='630' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='90' y='690' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5968' x='150' y='30' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5972' x='150' y='90' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='150' y='150' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5972' x='150' y='210' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='150' y='270' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5970' x='150' y='330' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='150' y='390' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='150' y='450' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='150' y='510' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='150' y='570' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='150' y='630' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5968' x='150' y='690' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='210' y='30' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='210' y='90' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5973' x='210' y='150' stroke='rgba(167%2c 199%2c 235%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='210' y='210' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='210' y='270' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5972' x='210' y='330' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='210' y='390' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='210' y='450' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5968' x='210' y='510' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5973' x='210' y='570' stroke='rgba(167%2c 199%2c 235%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5972' x='210' y='630' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='210' y='690' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='270' y='30' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5970' x='270' y='90' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='270' y='150' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5970' x='270' y='210' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='270' y='270' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='270' y='330' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='270' y='390' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='270' y='450' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='270' y='510' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='270' y='570' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='270' y='630' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='270' y='690' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='330' y='30' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5970' x='330' y='90' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='330' y='150' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='330' y='210' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5968' x='330' y='270' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='330' y='330' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5968' x='330' y='390' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='330' y='450' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5968' x='330' y='510' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='330' y='570' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='330' y='630' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5972' x='330' y='690' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='390' y='30' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='390' y='90' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5972' x='390' y='150' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='390' y='210' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5972' x='390' y='270' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5970' x='390' y='330' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5968' x='390' y='390' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='390' y='450' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='390' y='510' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='390' y='570' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='390' y='630' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5968' x='390' y='690' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='450' y='30' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='450' y='90' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='450' y='150' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='450' y='210' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='450' y='270' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='450' y='330' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='450' y='390' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5968' x='450' y='450' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='450' y='510' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5968' x='450' y='570' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5972' x='450' y='630' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5973' x='450' y='690' stroke='rgba(167%2c 199%2c 235%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='510' y='30' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5972' x='510' y='90' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='510' y='150' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5968' x='510' y='210' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='510' y='270' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='510' y='330' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='510' y='390' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5973' x='510' y='450' stroke='rgba(167%2c 199%2c 235%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5968' x='510' y='510' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5972' x='510' y='570' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5968' x='510' y='630' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='510' y='690' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5968' x='570' y='30' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='570' y='90' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='570' y='150' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='570' y='210' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5970' x='570' y='270' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='570' y='330' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='570' y='390' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5973' x='570' y='450' stroke='rgba(167%2c 199%2c 235%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5968' x='570' y='510' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='570' y='570' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5968' x='570' y='630' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5972' x='570' y='690' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='630' y='30' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5970' x='630' y='90' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='630' y='150' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5970' x='630' y='210' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='630' y='270' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5968' x='630' y='330' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5972' x='630' y='390' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5970' x='630' y='450' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5968' x='630' y='510' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='630' y='570' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5970' x='630' y='630' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5968' x='630' y='690' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='690' y='30' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5968' x='690' y='90' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5970' x='690' y='150' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5968' x='690' y='210' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5970' x='690' y='270' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5972' x='690' y='330' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5970' x='690' y='390' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5971' x='690' y='450' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5968' x='690' y='510' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5970' x='690' y='570' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5969' x='690' y='630' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5970' x='690' y='690' stroke='rgba(167%2c 199%2c 235%2c 1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
}

h3 {
  color: #5b5f63 !important;
  font-family: "Monteserrat";
  font-weight: bold !important;
}

h4 {
  color: #5b5f63 !important;
  font-family: Arial, Helvetica, sans-serif;
}

.divider {
  border-top: 3px solid;
  color: rgb(10, 15, 14);
  margin: 10px auto;
  width: 50%;
}

.myRuler {
  border-top: 3px solid;
  color:rgb(10, 15, 14);
  margin: 30px auto;
  width: 70%;
}

.submit-data:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(-0.05rem);
  transition: 0.4s ease out;
}

@media screen and (max-width: 650px) {
  .submit-data {
    font-size: 1.2rem !important;
    width: 200px !important;
  }
}

/* Header.js */

.navbar {
  backdrop-filter: blur(1px);
  background-color: rgba(81, 141, 175, 0.7);
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.8);
  font-size: 1.3rem;
  font-weight: bold;
  width: 100%;
}

.navbar:hover {
  background-color: #749bc2;
}

@media screen and (max-width: 991px ) {
  .navbar-nav, .nav-item {
    margin: auto;
  }
}

.nav-link {
  font-family: "Montserrat";
}

.nav-link:hover {
  text-decoration: underline;
}

.name {
  color: white;
  font-size: 2.5rem !important;
  font-family: "Niconne";
  font-weight: 100;
  margin: auto 80px;
  
}

@media screen and (max-width: 470px) {
  .name {
    margin: auto;
  }
}

@media screen and (max-width: 870px) {
  .name {
    font-size: 2rem !important;
  }
}

.nav-link {
  font-size: 1.5rem !important;
}

.nav-link:hover {
  color: #e3e2dc !important;
  text-decoration: none;
  text-shadow: 0 6px 10px rgb(0, 0, 0) !important;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

/* Home.js */

.home-page {
  align-items: center;
  display: flex;
  height: 50vh;
  justify-content: center;
}

.center-content {
  text-align: center;
}

.pPicture {
  margin: 30px auto;
  width: 250px;
}

.pPicture img {
  border: none;
  width: 100%;
}

@media screen and (max-width: 870px) {
  .pPicture {
    width: 200px;
  }
}

.aboutMe {
  color: #464a51;
  font-family: "Monteserrat";
  font-size: 1.5rem;
  font-weight: bold;
  margin: auto 80px auto 0;
  width: 60vw;
}

@media screen and (max-width: 870px) {
  .home-page {
    flex-direction: column; 
    height: auto; 
  }

  .pPicture {
    margin: 20px auto; 
    
  }

  .aboutMe {
    font-size: 1.1rem;
    margin: 20px auto; 
    width: 90%; 
  }
}

/* Contact.js */

.contact-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  min-height: 50vh;
  padding: 10px;
  width: 80vw;
}

@media screen and (max-width: 630px) {
  .contact-info {
    display: none;
  }
}

.contact-info,
.contact-form {
  flex: 1;
}

.info-content,
.form-content {
  background-color: #F1F0E8;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.455);
  color: black;
  height: 55vh;
  margin: 10px;
  text-align: center;
  padding: 30px; 
}

.info-content h3,
.form-content h3 {
  margin-top: 0;
}

.info-content p {
  color: #5b5f63;
  font-size: large;
  margin: 40px 0;
  
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  color: #5b5f63;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 25px;
}

.form-success {
  color: #28a745;
  margin-top: 10px;
}

.privacy-note {
  font-size: 1rem;
  font-weight: bold;
  color: #6c757d;
  margin-top: 20px;
  line-height: 1.5;
}

.privacy-note strong {
  color: #333;
}

/* Footer.js */

.myFooter {
  backdrop-filter: blur(1px);
  background-color: rgba(81, 141, 175, 0.7);
  border-radius: 50px;
  bottom: 0;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.8);
  left: 0;
  margin: auto;
  margin-bottom: 20px;
  position: fixed;
  right: 0;
  width: 30%;
}

.myFooter:hover {
  background-color: #749bc2;
}

@media screen and (max-width: 1000px) {
  .myFooter {
    position: relative;
    width: 50%;
  }
  .icon {
    font-size: 1.5rem;
    height: 25px;
  }
}

.contactIcons {
  background: none;
  border: none;
  font-size: 2rem;
  height: 40px;
  width: 60px;
}

.icon {
  color: white;
}

.linkedin .icon:hover {
  color: #1469c7;
}

.gmail .icon:hover {
  color: #d44638;
}

.github .icon:hover {
  color: black;
}

/* Portfolio.js */

.card-header {
  background-color: #faf7f2 !important;
  color: #6595c5 !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.card-body {
  background-color: #faf7f2;
  color: #6595c5 !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  
}

.carouselImage {
  border-radius: 5px;
}

.project-card {
  height: auto;
  width: 800px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  backdrop-filter: blur(1px);
  background-color: rgba(81, 141, 175, 0.7);
  border-radius: 30%;
  width: 60px !important;
  height: 60px !important;
}

.carousel-indicators {
  visibility: hidden;
}

/* Resume.js */

.img-fluid {
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 767px) {
  .img-fluid {
   margin-top: 15px;
   width: 400px;
  }
}